<div class="container">
  <mat-card>
    <mat-toolbar color="accent">
      <div align="center" style="color:white;text-align: right;">
        Angular 7 - Produto - CRUD
      </div>
    </mat-toolbar>
  <br><br>
    <mat-card-content>
      <form [formGroup]="produtoForm"(ngSubmit)="onFormSubmit(produtoForm.value)">
              <table>
                <tr>
                  <td class="tbl1">
                    <div>
                    <mat-form-field class="demo-full-width">
                      <input formControlName="DESC_PRODUTO" matTooltip="Informe o nome do Produto" matInput placeholder="Nome do Produto">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!produtoForm.get('DESC_PRODUTO').value && produtoForm.get('DESC_PRODUTO').touched"></span>
                    </mat-error>
                  </div>
                  </td>
                  <td class="tbl1">
                    <mat-form-field class="demo-full-width">
                      <input formControlName="EST_PRODUTO" matTooltip="Informe a Quantidade" matInput placeholder="Quantidade">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!produtoForm.get('EST_PRODUTO').value && produtoForm.get('EST_PRODUTO').touched"></span>
                    </mat-error>
                  </td>
                  <td class="tbl1">
                    <mat-form-field class="demo-full-width">
                      <input formControlName="VAL_PRODUTO" matTooltip="Informe o Valor" matInput placeholder="Valor">
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!produtoForm.get('VAL_PRODUTO').value && produtoForm.get('VAL_PRODUTO').touched"></span>
                    </mat-error>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td  class="content-center">
                    <button type="submit" mat-raised-button color="accent"matTooltip="Clique no botão Enviar"[disabled]="!produtoForm.valid">Enviar</button>
                    <button type="reset" mat-raised-button color="accent"matTooltip="Clique no botão Resetar" (click)="resetForm()">Resetar</button>
                  </td>
                  <td>
                    <p *ngIf="dataSaved" style="color:rgb(55, 0, 128);font-size:20px;font-weight:bold" Class="success" align="left">
                      {{message}}
                    </p>
                  </td>
                </tr>
              </table>
         <br><br>
        <table class="table" >
            <tr ngclass="btn-primary">
              <th class="tbl2">I</th>
              <th class="tbl2">Nome do Produto</th>
              <th class="tbl2">Quantidade Estoque</th>
              <th class="tbl2">Preço</th>
              <th class="tbl2">Edita</th>
              <th class="tbl2">Deleta</th>
            </tr>
            <tr *ngFor="let produto of allProdutos | async">
              <td class="tbl2">{{produto.ID_PRODUTO}}</td>
              <td class="tbl2">{{produto.DESC_PRODUTO}}</td>
              <td class="tbl2">{{produto.EST_PRODUTO}}</td>
              <td class="tbl2">{{produto.VAL_PRODUTO}}</td>
              <td class="tbl2">{{produto.IMG_PRODUTO}}</td>
              <td class="tbl2">
                <button type="button" class="btn btn-info"matTooltip="Clique no botão para Editar"(click)="loadProdutoToEdit(produto.ID_PRODUTO)">Editar</button>
              </td>
              <td class="tbl2">
                <button type="button" class="btn btn-danger"matTooltip="Clique no botão para Deletar"(click)="deleteProduto(produto.ID_PRODUTO)">Deletar</button>
              </td>
            </tr>
          </table>
      </form>
    </mat-card-content>
  </mat-card>
  </div>
