<div id="botao" class="row float-right mr-5 mt-5">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProdutos">Adicionar Produto</button>
</div>

<div class="container-fluid">
<table class="table table-hover col-auto ">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Estoque</th>
      <th scope="col">Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let produto of produtoslist">
      <th scope="row">{{ produto.iD_PRODUTO | number}}</th>
      <td>{{ produto.desC_PRODUTO }}</td>
      <td>{{ produto.esT_PRODUTO  }}</td>
      <td>{{ produto.vaL_PRODUTO  }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div>
<!-- Modal -->
  <div class="modal fade" id="modalProdutos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastro de Produtos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

              <form [formGroup]="produtoForm">
                <div class="form-group">
                  <label>Nome do Produto</label>
                  <input formControlName="DESC_PRODUTO" type="text" class="form-control" id="formGroupExampleInput" placeholder="Produto">
                </div>
                <div class="form-group">
                    <label>Estoque</label>
                    <input formControlName="EST_PRODUTO" type="text" class="form-control" id="formGroupExampleInput" placeholder="Estoque">
                </div>
                <div class="form-group">
                    <label>Valor</label>
                    <input formControlName="VAL_PRODUTO" type="text" class="form-control" id="formGroupExampleInput" placeholder="Valor">
                </div>

              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="onFormSubmit()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
