@import '@angular/material/prebuilt-themes/indigo-pink.css';

th,td{
  text-align: center;
}
th{
  background-color:#422956;
  color: white;
}
.tbl1
{
  width: 400px;
  color: black;
}
.tbl2
{
  width: 400pxx;
}
